body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 30%;
    border-radius: 10%;
    background-color: lightskyblue;
    border: 3px solid darkblue;
}

.display-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 70%;
}

.calculator-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
    width: 90%;
}

.input-field {
    width: 100%;
    border: 1px solid lightgray;
    padding: 10px;
    text-align: center;
    font-size: 250%;
    border-radius: 10px;
    height: 50px;
}

button {
    background-color: white;
    color: black;
    padding: 8px;
    margin: 5px;
    width: 20%;
    height: 30%;
    font-size: 200%;
    border: black;
    border-radius: 10px;
    border: 1px solid lightgray;
}