body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 30%;
    border-radius: 10%;
    background-color: lightskyblue;
}

.display-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.calculator-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.input-field {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

button {
    background-color: white;
    color: black;
    padding: 16px;
    margin: 5px;
    width: 25%;
    height: 10%;
    font-size: large;
    border: black;
    border-radius: 25px;
}